<div class="d-none d-md-block box text-center">
    <img src="../../../assets/img/logo.png" alt="logo" class="logo">
    <div>
        <ul class="navbar flex-column navbar-desktop p-0">
            <li class="nav-item mx-auto">
                <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#home" type="button">Home</a>
            </li>
            <li class="nav-item mx-auto">
                <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#quienes_somos"
                    type="button">Quienes Somos</a>
            </li>
            <li class="nav-item mx-auto">
                <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#nuestros_productos"
                    type="button">Nuestros Productos</a>
            </li>
            <li class="nav-item mx-auto">
                <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#blog" type="button">Blog</a>
            </li>
            <li class="nav-item mx-auto">
                <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#contacto"
                    type="button">Contacto</a>
            </li>
        </ul>
    </div>
    <div class="social mx-auto pt-5 mt-5">
        <a href="https://www.instagram.com/bonikachile/" target="_blank" rel="noreferrer">
            <i class="ri-instagram-line socialIcon"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
            <i class="ri-facebook-box-fill socialIcon"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=56948877541" target="_blank" rel="noreferrer">
            <i class="ri-whatsapp-line socialIcon"></i>
        </a>
        <a href="mailto:ventas@bonika.cl" target="_blank" rel="noreferrer">
            <i class="ri-mail-line socialIcon"></i>
        </a>
    </div>
</div>




<!-- MOBILE NAVBAR -->
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark text-center pb-4">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo">
        <div>
            <ul class="navbar flex-column navbar-desktop p-0">
                <li class="nav-item mx-auto">
                    <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#home" type="button">Home</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#quienes_somos"
                        type="button">Quienes Somos</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#nuestros_productos"
                        type="button">Nuestros Productos</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#blog" type="button">Blog</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link btn btn-block pb-3 text-white rounded-pill" href="/#contacto"
                        type="button">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="social mx-auto mt-5">
            <a href="https://www.instagram.com/bonikachile/" target="_blank" rel="noreferrer">
                <i class="ri-instagram-line socialIcon"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" rel="noreferrer">
                <i class="ri-facebook-box-fill socialIcon"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=56948877541" target="_blank" rel="noreferrer">
                <i class="ri-whatsapp-line socialIcon"></i>
            </a>
            <a href="mailto:ventas@bonika.cl" target="_blank" rel="noreferrer">
                <i class="ri-mail-line socialIcon"></i>
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark d-block d-md-none">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>