    <div class="d-none d-md-block box text-center">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo">
        <div>
            <ul className="navbar flex-column" style="list-style: none;">
                <li className="nav-item">
                    <button type="button" className="btn btn-light btn-block btn-sm"><a className="nav-link noDecoration active" href="/">Home</a></button>
                </li>
                <li className="nav-item">
                    <button type="button" className="btn btn-light btn-block btn-sm"><a className="nav-link noDecoration" href="/aboutus">Quienes Somos</a></button>
                </li>
                <li className="nav-item">
                    <button type="button" className="btn btn-light btn-block btn-sm"><a className="nav-link noDecoration" href="ourservices">Nuestros Productos</a></button>
                </li>
                <li className="nav-item">
                    <button type="button" className="btn btn-light btn-block btn-sm"><a className="nav-link noDecoration" href="/ourbarbers">Blog</a></button>
                </li>
                <li className="nav-item">
                    <button type="button" className="btn btn-light btn-block btn-sm"><a className="nav-link noDecoration" href="/appointment">Contacto</a></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark d-block d-md-none">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>