<div class="productos" id="nuestros_productos">
    <div class="row header mx-5 py-5">
      <div class="col-md-3 col-6 my-auto">
        <h3>Nuestros<br><strong>productos</strong></h3>
      </div>
      <div class="col-6 my-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 info mx-5 pb-5 text-center">
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/8/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">SANTO REMEDIO</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/2/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/20/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 3</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/10/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/11/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/12/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 6</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/13/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 7</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/14/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 8</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/15/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 9</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>