<div class="blog margen-blog" id="blog">
    <div class="row header mx-5 py-5">
      <div class="col-md-3 col-6 my-auto">
        <h3>Bonika<br><strong>Blog</strong></h3>
      </div>
      <div class="col-6 my-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 info mx-5 pb-5 text-center">
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/38/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/32/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/30/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 3</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/130/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/311/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/32/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 6</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/33/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 7</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/34/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 8</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/35/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 9</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>