<div class="outer">
  <div class="box text-center">
    <app-sidebar></app-sidebar>
  </div>
  <div class="home">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://picsum.photos/id/236/1000/600" class="d-block carousel-img" alt="foto">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/id/39/1000/600" class="d-block carousel-img" alt="foto">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/id/36/1000/600" class="d-block carousel-img" alt="foto">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="nosotras">
    <div class="row header mx-5 py-5">
      <div class="col-3">
        <h3>¿Quienes<br><strong>Somos?</strong></h3>
      </div>
      <div class="col-6 my-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </div>
    <div class="row info mx-5">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4 p-4">
            <img src="https://picsum.photos/id/7/1000/600" class="img-fluid rounded-start align-middle foto" alt="foto">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">¿Qué es Bonika?</h5>
              <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
              <br>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
              <br>
              <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="productos">
    <div class="row header mx-5 py-5">
      <div class="col-3">
        <h3>Nuestros<br><strong>productos</strong></h3>
      </div>
      <div class="col-6 my-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 info mx-5 pb-5 text-center">
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/8/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">SANTO REMEDIO</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/2/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/20/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 3</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/10/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/11/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/12/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 6</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/13/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 7</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/14/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 8</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/15/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Producto 9</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blog">
    <div class="row header mx-5 py-5">
      <div class="col-3">
        <h3>Bonika<br><strong>Blog</strong></h3>
      </div>
      <div class="col-6 my-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua.</p>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 info mx-5 pb-5 text-center">
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/38/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/32/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/30/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 3</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/130/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 4</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/311/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 5</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/32/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 6</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/33/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 7</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/34/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 8</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://picsum.photos/id/35/1000/600" class="card-img-top foto" alt="foto">
          <div class="card-body">
            <h5 class="card-title">Blog 9</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="row header mx-5 py-5">
      <div class="col-3">
        <h3>Contacto<br><strong>Bonika</strong></h3>
      </div>
      <div class="col-6 my-auto">
        <p>Si deseas comprar, dejanos un mensaje para contactarnos contigo o puedes escribirnos directamente a <a
            href="mailto:ventas@bonika.cl" target="_blank" rel="noreferrer">ventas@bonika.cl</a></p>
      </div>
    </div>
    <form class="col-6 offset-3 py-3 text-center" method='post' action='sendmail.php'>
      <div class="my-2">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" name="mail" required>
      </div>
      <div class="my-2">
        <label class="form-label">Nombre y Apellido</label>
        <input type="text" class="form-control" name="name" required>
      </div>
      <div class="my-2">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" required>
      </div>

      <textarea name="message" class="form-control my-5" rows="10" placeholder="Deja aquí tu comentario..."></textarea>

      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>

  <div class="footer text-center">
    <a href="https://www.santamariai.cl" target="_blank" rel="noreferrer">
      <h4>jerosantamariai</h4>
    </a>
  </div>