.outer {
    width: auto;
    height: auto;
    overflow: scroll;
    padding-left: 20%;
}

.box {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: 20%;
    background: black;
  }
  
.logo {
    width: 40%;
}





.home {
    height: 100vh;
    /* background-color: violet; */
}

.carousel-img {
    display: inline-block;
    position: relative;
    width: 100vw;     
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.nosotras {
    height: 100vh;
    background-color: green;
}

.productos {
    height: 100vh;
    background-color: blue;
}

.blog {
    height: 100vh;
    background-color: red;
}

.contact {
    height: 100vh;
    background-color: olive;
}

.footer {
    height: 15vh;
    background-color: rgb(36,36,36);
    color: white;
    text-decoration: none;
}