/* Navbar */

.outer {
    width: auto;
    height: auto;
    overflow: scroll;
    padding-left: 20%;
}

.box {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    width: 20%;
    background: black;
  }
  
.logo {
    width: 40%;
}

.navbar-desktop {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin: 3rem 0;
}

.nav-item {
    width: 12rem;
}

.nav-link:hover {
    background-color: white;
    color: black !important;
}

.bg-dark {
    background-color: black !important;
}

#navbarToggleExternalContent {
    z-index: 999999;
}

/* .social {
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
    
} */


.social a {
    text-decoration: none;
    color: white;
    margin: auto 0;
}

.socialIcon {
    font-size: x-large;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    -webkit-box-reflect: below 2px
		    -webkit-gradient(linear, left top, left bottom, from(transparent),
		    color-stop(0.7, transparent), to(rgba(255,255,255,.5))); /* reflection is supported by webkit only */
    transition: all 0.5s;
    /* -webkit-transform-origin: 50% 100%; */
}

.socialIcon:hover {
    text-decoration: none;
    font-size: xx-large;
    margin: auto 0;
    /* -webkit-transform: scale(2); */
    margin: 0 1rem;
}




.home {
    min-height: 100vh;
}

.carousel-img {
    display: inline-block;
    position: relative;
    width: 100vw;     
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.comocomprar {
    background-color: rgb(216, 201, 70);
}

.nosotras {
    min-height: 100vh;
    background-color: white;
}

.foto {
    display: inline-block;
    position: relative;
    width: 100%;     
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.productos {
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
}

.blog {
    min-height: 100vh;
    background-color: white;
}

.contact {
    min-height: 100vh;
    background-image: url('https://picsum.photos/id/178/1000/600');
    background-color: rgb(189, 189, 98);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    /* height: 15vh; */
    background-color: rgb(0, 0, 0);
}

.footer a,
.footer p {
    color: white;
    text-decoration: none;
}

.compra {
    min-height: 85vh;
}

.compra .card {
    width: 70%;
}

.compra .card .foto {
    /* margin: auto !important; */
    padding: 2rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.compra .card .card-text {
    text-align: justify !important;
    margin: 1rem 0;
}

@media (max-height: 768px) {
    .margen-carousel, 
    .margin-nosotros, 
    .margin-comoComprar,
    .margin-productos,
    .margen-blog,
    .margin-contacto {
        margin-left: 20%;
    }
    
    .outer {
        padding-left: 0;
    }

    .carousel-img {
        display: inline-block;
        position: relative;
        width: 100vw;     
        height: 90vh;
        overflow: hidden;
        object-fit: cover;
    }
}
