<div class="compra text-center">
    <div class="card my-5 mx-auto">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://picsum.photos/id/63/1000/600" class="img-fluid rounded-start foto" alt="foto">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">¿Cómo puedo comprar mis productos?</h2>
                    <p class="card-text my-2">
                        Para comprar, debes realizar el deposito del monto total con los datos que se entregan más
                        abajo y luego enviar un pantallazo del depósito al correo <a
                            href="mailto:ventas@bonika.cl">ventas@bonika.cl</a> con tu nombre, dirección y
                        teléfono.<br><br>Te llamaremos lo antes posible para confirmar tu compra y la coordinación del
                        envío.<br><br>¡Si tienes dudas, no dudes en escribirnos en cualquiera de nuestras plataformas!
                    </p>
                    <hr>
                    <table class="table table-striped my-2">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">DATOS DEPOSITO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">NOMBRE</th>
                                <td>Mariana Illanes Campo</td>
                            </tr>
                            <tr>
                                <th scope="row">RUT</th>
                                <td>6.627.206-0</td>
                            </tr>
                            <tr>
                                <th scope="row">BANCO</th>
                                <td>BCI</td>
                            </tr>
                            <tr>
                                <th scope="row">CUENTA</th>
                                <td>Vista - Prima</td>
                            </tr>
                            <tr>
                                <th scope="row">N° CUENTA</th>
                                <td>64502627</td>
                            </tr>
                            <tr>
                                <th scope="row">CORREO</th>
                                <td>ventas@bonika.cl</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <hr>
                    <app-form></app-form> -->
                </div>
            </div>
        </div>
    </div>


    <span routerLink="/" class="btn btn-success mb-5">Volver</span>

</div>